@font-face {
  font-family: "norse";
  src: url(fonts/Norse-Bold.otf);
}

body {
  display: flex;
  margin: 0;
  font-family: sans-serif;
}

.left-side {
  background: url(images/bgd-img.jpg) no-repeat;
  background-size: cover;
  width: 40%;
  height: 100vh;
}

.logo-banner {
  background-color: rgba(0, 0, 0, 0.5);
  height: 15%;
  margin-top: 25vh;
  padding: 2%;
}

.logo-container {
  display: flex;
  height: 100%;
  justify-content: center;
}

.logo-img {
  height: 100%;
}

.logo-text {
  font-family: "norse";
  color: white;
  font-size: 100px;
  padding: 0;
  margin: auto 0;
}
